body {

  background-color: rgb(53, 51, 68);

}

:root {

  --board-width: 600px;
  --square-width: calc(var(--board-width)/8);
  --piece-scale: 0.92;
  
}


#gameboard {

  width: var(--board-width);
  /* height: var(--board-width); */
  display: flex;
  flex-wrap: wrap;

  background-color: rgb(255, 255, 255);
  border-radius: 4%;
}

.square {

  background-color: darkcyan;
  width: var(--square-width);
  height: var(--square-width);
}

.white {

  background-color: transparent;
}

.black {

  background-color: royalblue;
  border-radius: 0%;
}


.player {

  display: flex;
  /* justify-content: center; */
  z-index: 1;
  position: relative;
  width: calc(var(--square-width));
  height: calc(var(--square-width));
  /* background-color: rgba(248, 245, 48, 0.801);  */

}

.piece {
  
  position: absolute;
  z-index: 9;
  width: calc(var(--square-width)* var(--piece-scale));
  height: calc(var(--square-width)* var(--piece-scale));
  margin: calc( (var(--square-width) - (var(--square-width)* var(--piece-scale)))/2 );

  /* margin: 10px; */
  /* margin: calc( (var(--square-width) - (var(--square-width)* var(--piece-scale)))/2 ); */
 
  background-color: transparent;
}

.perks {

  position: absolute;
  /* width: fit-content; */
  width: calc(var(--square-width)); */
  height: calc(var(--square-width)); */
  display: flex;
  flex-wrap: wrap;
}

.perks img{
  
  position: relative;
  bottom: 0;
  z-index: 10;
  height: calc(var(--square-width)/3)
}

.perks img:hover {

  /* height: calc(var(--square-width)/2);
  transform: translate(0, -8px );  */
  

}

.perks :hover {

  
  transform: scale(2);

}
